AI_MODEL=REPLACE_WITH_REAL_VALUE
API_ENERGIA_URL=REPLACE_WITH_REAL_VALUE
API_KEY=REPLACE_WITH_REAL_VALUE
CARGO_COMERCIALIZACION_COP_KWH=REPLACE_WITH_REAL_VALUE
CARGO_DISTRIBUCION_COP_KWH=REPLACE_WITH_REAL_VALUE
CARGO_TRANSMISION_COP_KWH=REPLACE_WITH_REAL_VALUE
DASH_DEBUG=REPLACE_WITH_REAL_VALUE
DASH_PORT=REPLACE_WITH_REAL_VALUE
DATABASE_URL=REPLACE_WITH_REAL_VALUE
DIRECTOR_EMAIL=REPLACE_WITH_REAL_VALUE
EMAIL_FROM_NAME=REPLACE_WITH_REAL_VALUE
FACTOR_PERDIDAS_DISTRIBUCION=REPLACE_WITH_REAL_VALUE
GNEWS_API_KEY=REPLACE_WITH_REAL_VALUE
GROQ_API_KEY=REPLACE_WITH_REAL_VALUE
GROQ_BASE_URL=REPLACE_WITH_REAL_VALUE
MLFLOW_ADMIN_PASSWORD=REPLACE_WITH_REAL_VALUE
OPENROUTER_API_KEY=REPLACE_WITH_REAL_VALUE
OPENROUTER_BASE_URL=REPLACE_WITH_REAL_VALUE
POSTGRES_DB=REPLACE_WITH_REAL_VALUE
POSTGRES_HOST=REPLACE_WITH_REAL_VALUE
POSTGRES_PASSWORD=REPLACE_WITH_REAL_VALUE
POSTGRES_PORT=REPLACE_WITH_REAL_VALUE
POSTGRES_USER=REPLACE_WITH_REAL_VALUE
REDIS_DB=REPLACE_WITH_REAL_VALUE
REDIS_HOST=REPLACE_WITH_REAL_VALUE
REDIS_PASSWORD=REPLACE_WITH_REAL_VALUE
REDIS_PORT=REPLACE_WITH_REAL_VALUE
SMTP_PASSWORD=REPLACE_WITH_REAL_VALUE
SMTP_PORT=REPLACE_WITH_REAL_VALUE
SMTP_SERVER=REPLACE_WITH_REAL_VALUE
SMTP_USER=REPLACE_WITH_REAL_VALUE
TELEGRAM_BOT_TOKEN=REPLACE_WITH_REAL_VALUE
USE_POSTGRES=REPLACE_WITH_REAL_VALUE
VICEMINISTRO_EMAIL=REPLACE_WITH_REAL_VALUE
WHATSAPP_BOT_TIMEOUT=REPLACE_WITH_REAL_VALUE
WHATSAPP_BOT_URL=REPLACE_WITH_REAL_VALUE
