[Unit]
Description=Dashboard Portal Energético MME
After=network.target

[Service]
Type=notify
User=admonctrlxm
Group=admonctrlxm
WorkingDirectory=/home/admonctrlxm/server
Environment="PATH=/home/admonctrlxm/.local/bin:/usr/bin"
ExecStart=/home/admonctrlxm/.local/bin/gunicorn -c gunicorn_config.py app:server
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

# Límites de recursos
LimitNOFILE=65536
LimitNPROC=4096

# Security
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=false
ReadWritePaths=/home/admonctrlxm/server/logs
ReadWritePaths=/tmp

[Install]
WantedBy=multi-user.target
